#Redirect 301 /mail http://planedpro.com/roundcube
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . index.php [L]

  # RewriteEngine On  
  # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  # RewriteRule ^ - [L]
  # RewriteRule ^ /index.php [L]
# Redirect 301 / https://plannedpro.co

# RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule . index.php [L]

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]

<IfModule mod_rewrite.c>
       RewriteEngine On
       RewriteCond %{REQUEST_FILENAME} !-d
       RewriteCond %{REQUEST_FILENAME} !-f
       RewriteRule ^ index.php [QSA,L]
    </IfModule>
